@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
    background-color: rgb(6,0,15);
    color: blanchedalmond;
    font-family: 'Varela Round', sans-serif;
}

#action_func{
	width: 300px;
	height: 100px;
}

.in{
	background-color: midnightblue;
	border-radius: 5px;
	color: bisque;
	border: none;
	margin: 5px;
}
